@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.title {
    font-family: 'Righteous', cursive;
}

/*      Demais       */

html {
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
    width: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/*      header      */

header {
    width: 100%;
    background-color: #CF2B2B;
    height: 90px;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    -webkit-box-shadow: 1px 7px 3px -1px rgba(0,0,0,0.14); 
    box-shadow: 1px 7px 3px -1px rgba(0,0,0,0.14);
    top: 0;
    left: 0;
    z-index: 1;
}

header .title {
    font-size: 44px;
}

header p {
    font-size: 18px;
    font-weight: bold;
}

/*      nav         */

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 120px;
    margin-top: 550px;
}

nav .boxAnuncio {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scrool;
}

.boxAnuncio h1 {
    font-size: 26px;
}

.texto {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.texto h1 { 
    width: 100%;
    font-size: 26px;
}

.containerFood {
    width: 450%;
    height: 300px;
    display: flex;
    margin: 0;
}

.food {
    height: 250px;
    width: 50%;
    margin: 0 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top:20px;
}

.foodImg {
    display: flex;
    justify-content: center;
}

.foodImg img {
    width: 90%;
    height:auto;
    border-radius: 10px;
    margin: 10px;
}

.foodText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 5px 10px;
}

.foodText p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.foodText p:nth-child(1) {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.foodText p:nth-child(2) {
    color: #A6A6A6;
    font-size: 15px;
}

.foodText p:nth-child(3) {
    color: #000000;
    font-size: 16px;
}


.foodText:nth-child(1) {
    font-size: 16px;
}

/*      footer      */

footer {
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

footer button{
    width: 85%;
    height: 60%;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: none;
}

footer button h1 {
    font-size: 20px;
    color: #FFFFFF;
}